body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    padding: 2em;
    width: 80%;
    max-width: 600px;
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 1em;
}

#status {
    margin-top: 1em;
}

.server {
    background: #fafafa;
    border: 1px solid #f0f0f0;
    border-radius: 4px;
    padding: 1em;
    margin: 0.5em 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.server-status-icon {
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.status-online {
    background-color: #4caf50;
}

.status-offline {
    background-color: #f44336;
}

.server-info {
    margin-left: 1em;
}

.server-name {
    font-weight: bold;
    color: #333;
}

.server-status {
    text-transform: uppercase;
    color: #666;
    font-size: 0.8em;
}

footer {
    margin-top: 2em;
    padding-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
}

footer p {
    font-size: 0.8em;
    color: #000;
}

footer a {
    color: #000;
    text-decoration: none;
}

footer a:hover {
    color: #585858;
}