<!DOCTYPE html>
<html>
<head>
    <title>Website Monitor</title>
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
    <link rel="stylesheet" type="text/css" href="static/css/dark-mode.css">
</head>
<body>
    <div class="container">
        <h1>Website Monitor</h1>
        <div id="status">
            <div id="loading" class="server">
                <div class="server-info">
                    <div class="server-name">Loading...</div>
                </div>
            </div>
        </div>
        <div class="dark-mode-toggle">
            <input type="checkbox" id="darkModeToggle">
            <label for="darkModeToggle"></label>
        </div>
        <footer>
            <p><a href="https://github.com/Person0z/PyUptime" target="_blank">PyUptime.</a> Created by <a href="https://github.com/Person0z" target="_blank">Person0z</a>.</p>
        </footer>
    </div>
    <script src="static/javascript/script.js"></script>
</body>
</html>
