<!DOCTYPE html>
<html>
<head>
    <title>Website Monitor</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
    <div class="container">
        <h1>Website Monitor</h1>
        <div id="status">
            <div id="loading" class="server">
                <div class="server-info">
                    <div class="server-name">Loading...</div>
                </div>
            </div>
        </div>
        <div class="dark-mode-toggle">
            <input type="checkbox" id="darkModeToggle">
            <label for="darkModeToggle"></label>
        </div>
    </div>
    <script src="static/script.js"></script>
</body>
</html>
